.title {
  text-align:center;
}


.wrapper {
  background-image:"https://4.bp.blogspot.com/-sGPt3wDwDes/TsJZPNnn4BI/AAAAAAAAS60/gtsbJPXPKm4/s1600/Mooie-zee-achtergronden-leuke-hd-zee-wallpapers-afbeelding-plaatje-foto-2.jpg"; 
  heigth: 100%;
  
}
.introduction {
  background:#4dd2ff;
  width:1200px;
  heigth:800px;

}
.aboutwebsite {
 background:#33ff33;
   width:1200px;
  heigth:800px;
  
}

.contact {
  background:#ff6600; 
   width:1200px;
  heigth:800px; 

}
