.wrapper {
  background:#eee;
  width:1200px;
  heigth: 30000px;
  
}
.introduction {
  background:#4dd2ff;
  width:400px;
  heigth:800px;
float:left; 
}
.aboutwebsite {
 background:#33ff33;
   width:400px;
  heigth:800px;
  float:center;
}

.contact {
  background:#ff6600; 
   width:400px;
  heigth:800px; 
float:right;
}
