.title {
  text-align: center;
}


.wrapper {
  heigth: 100%;
  width:100%
  
}
.introduction {
  background:#4dd2ff;
 heigth:100px;
  width:25%
   clear:left; 

}


.aboutwebsite {
 background:#00ff00;
heigth:100px;
  width:25%
   clear:right; 

  
}

.contact {
  background:#ff6600; 
   margin-top: 300px;
    margin-bottom: 600px;
    margin-right: 10px;
    margin-left: 10px;

}
